<div class = "auth-container">
    <div class = "auth-header">
      <h1>Financial Track</h1>
      <p>Manage your finances with ease</p>
    </div>

    <div class ="auth-form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)] ="username" placeholder="Enter username">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)] ="password" placeholder="Enter Password">
      </div>

      <div class="auth-buttons">
        <button (click)="login()" class="'login-btn">Login</button>
        <button (click)="register()" class="'register">register</button>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

    </div>
</div>
