.main{
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    padding-top: 6rem;
    margin: auto;
    padding-bottom: 20%;
}

.header{
    text-align: center;
}
.month{
    margin-bottom: 2.5rem;
}

.btn{
    margin-top: 2rem;
}

.wid{
    width: 65%;
    margin: auto;
}